ul {
  list-style-type: none;
}

li:hover .bg-secondary {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.release-card {
  padding: 0.75rem 1.25rem;
  transition: all 0.2s;
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.05) !important;
  }
}

.highlighted-release {
  border-left: 3px solid #ffc107; /* Bootstrap's warning color */
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.2);
}

.badge {
  font-weight: 500;
  padding: 0.35em 0.65em;
  
  &.platform-badge {
    background-color: #212529; /* Bootstrap's dark color */
    border: 1px solid #6c757d; /* Bootstrap's secondary color */
  }
  
  &.region-badge {
    &.ntsc-j { background-color: #bc002d; } /* Япония */
    &.ntsc-u { background-color: #3c78d8; } /* США */
    &.pal { background-color: #009e60; }    /* Европа */
  }
}

.serial-badge {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.serial-badge .badge {
  word-wrap: break-word; /* или overflow-wrap: break-word; */
  white-space: normal;   /* разрешает перенос строк */
  width: 100%;
  text-align: left;
}

.serial-container {
  position: relative;
}

.serial-item {
  cursor: pointer;
  transition: all 0.2s;
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
  
  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.more-serials-badge {
  background: rgba(255, 193, 7, 0.2);
  border-radius: 10px;
  padding: 0 0.4rem;
  font-size: 0.8em;
  margin-left: 0.3rem;
}

.serials-dropdown {
  position: absolute;
  z-index: 10;
  left: -54px;
  background: #2c3034;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 0.3rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  
  .dropdown-item {
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    
    &:hover {
      background: rgba(255, 255, 255, 0.05);
    }
  }
}

.game-title {
  font-weight: bolder;
  font-size: 32px;
  line-height: 100%;
  color: rgba(211, 225, 236, 1);
}

.game-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: rgba(138, 172, 201, 1);
}

.release-header {
  font-weight: bolder;
  font-size: 16px;
  line-height: 100%;
  color: rgba(211, 225, 236, 1);
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 16px 20px 16px 20px;
}

.release-item:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.4);
}

.release-item:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

.release-item {
  padding: 16px 20px 20px 20px;
}

.release-bullet:nth-of-type(n+2) {
  position: relative;
  padding-left: 24px;
  margin-top: 8px;
}

.release-bullet:nth-of-type(n+2)::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 50%;
}

.release-bullet:first-of-type,
.release-bullet:nth-of-type(1) {
  padding-left: 0;
}

