<div class="header-bg position-relative w-100 py-3 px-5 px-lg-7 bg-base-weak shadowed-1">
  <div class="row">
    <div class="col-6 col-md-4 col-sm-2">
      <a routerLink="/">home</a>
    </div>
    <div class="col-auto">
      <a class="col px-1" *ngIf="isAuthorised$ | async" routerLink="/collection">
        моя коллекция
      </a>
      <!-- <span class="col px-1">
        о нас
      </span>
      <span class="col px-1">
        новости
      </span> -->
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <ng-container *ngIf="isAuthorised$ | async else auth">
        <span class="px-1">
          {{ currentUser$ | async }}
        </span>
        <a class="px-1" (click)="logout()">
          выход
        </a>
      </ng-container>
      <ng-template #auth>
        <span class="px-1">
          <a routerLink="/login">
            авторизация
          </a>
        </span>
      </ng-template>
    </div>
  </div>
</div>