<div class="header-bg position-relative w-100 py-3 px-5 px-lg-7 bg-base-weak shadowed-1">
  <div class="row">
    <div class="col-6 col-md-4 col-sm-2">
      <a routerLink="/">home</a>
    </div>
    <div class="col-auto">
      <span class="col px-1">
        добавить товар
      </span>
      <span class="col px-1">
        о нас
      </span>
      <span class="col px-1">
        новости
      </span>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <span class="px-1">
        профиль
      </span>
      <span class="px-1">
        выход
      </span>
    </div>
  </div>
</div>