.sticker {
  position: sticky;
  top: 56px;
  z-index: 1000; /* убедись, что он выше других элементов */
  background: white; /* или цвет фона страницы */
}

.card, a {
  cursor: pointer;
}

.game-card {
  background-color: rgba(7, 16, 25, 1);
  border-radius: 12px;
}


.card-img-top {
  background: linear-gradient(135deg, #2a2a3f, #1a1a2f);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.text-light-muted {
  color: #b0b0b0;
}

.stickerContent {
  //overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
  height: auto;
  opacity: 1;
}

.stickerContent.hidden {
  height: 0 !important;
  opacity: 0;
}

.sticker {
  position: sticky;
  overflow: visible !important;
  top: 52px;
  z-index: 1000; /* убедись, что он выше других элементов */
  @media (max-width: 576px) {
    top: 30px;
  }
}

/* Темный дропдаун */
.dropdown-menu-dark {
  background-color: #343a40;
  border: 1px solid #495057;
}
.dropdown-item {
  color: #f8f9fa;
}
.dropdown-item:hover {
  background-color: #495057;
}

ngb-dropdown-menu {
  position: absolute;
  right: 0; /* Раскрывать вправо */
  min-width: 200px; /* Фиксированная ширина */
}

.dropdown-menu { 
  z-index: 1050; /* Чтобы меню было поверх других элементов */
}

.sort-button {
  @media (min-width: 576px) {
    top: 50%;
    right: 0;
  }
}

.empty-collection-header {
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.release-bullet:nth-of-type(n+2) {
  position: relative;
  padding-left: 24px;
  margin-top: 8px;
}

.release-bullet:nth-of-type(n+2)::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 50%;
}

.release-bullet:first-of-type,
.release-bullet:nth-of-type(1) {
  padding-left: 0;
}

.card-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 20px;
}

.card-subtitle {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
}