<footer class="footer text-light py-4">
  <div class="container-fluid container-lg">
    <div class="row">
      <!-- Лого и копирайт -->
      <div class="col-12 col-md-4 mb-3">
        <a routerLink="/" class="d-flex align-items-center mb-2 text-light text-decoration-none fs-5 fw-bold">
          <svg width="176" height="33" viewBox="0 0 176 33" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="/icons.svg#brand"/></svg>
        </a>
        <p class="text-light opacity-75 small mb-0">© 2025 GSTX</p>
      </div>
      
    </div>
  </div>
</footer>
