.nav-active {
  color: rgba(189, 167, 234, 1)!important;
}

.header-bg {
  //background-color: rgba(0, 0, 0, 0.33);
  background: linear-gradient(
    90deg, 
    rgba(6, 19, 24, 1) 0%, 
    rgba(14, 37, 63, 1) 100%
  );
}

.header-bg::before {
  content: '';
  position: fixed; /* Фиксированный слой */
  top: 0;
  left: 0;
  width: 100%;
  height: 82px;
  
  /* Градиент и размытие */
  background: linear-gradient(
    to right,
    rgba(6, 19, 24, 0.95) 0%,
    rgba(14, 37, 63, 0.95) 100%
  );
  
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  
  /* Ниже header */
  z-index: -1;
}

.authorised::before {
  height: 142px;
  content: '';
  position: fixed; /* Фиксированный слой */
  top: 0;
  left: 0;
  width: 100%;
  
  /* Градиент и размытие */
  background: linear-gradient(
    to right,
    rgba(6, 19, 24, 0.95) 0%,
    rgba(14, 37, 63, 0.95) 100%
  );
  
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  
  /* Ниже header */
  z-index: -1;
} 