.sticker {
  position: sticky;
  top: 82px;
  z-index: 1000;
  background: linear-gradient(
    90deg, 
    rgba(6, 19, 24, 1) 0%, 
    rgba(14, 37, 63, 1) 100%
  );
  @media (max-width: 576px) {
    top: 30px;
  }
  &.authorised {
    top: 142px;
  }
}

.card, a {
  cursor: pointer;
}

.game-card {
  background-color: rgba(7, 16, 25, 1);
  border-radius: 8px;
  &:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }
}


