.card, a {
  cursor: pointer;
}

.sticker {
  position: sticky;
  top: 142px;
  z-index: 1000; /* убедись, что он выше других элементов */
  background: linear-gradient(
    90deg, 
    rgba(6, 19, 24, 1) 0%, 
    rgba(14, 37, 63, 1) 100%
  );
  @media (max-width: 576px) {
    top: 30px;
  }
}

.game-card {
  border-radius: 8px;
  background-color: rgba(7, 16, 25, 1);
  color: rgba(255, 255, 255, 1);

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }
}

.game-content {
  padding: 12px;
}

.game-first-release {
  color: rgba(138, 172, 201, 1);
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
}

.card-subtitle {
  margin-top: 12px;
}

.card-img-top {
  background: linear-gradient(135deg, #2a2a3f, #1a1a2f);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.text-light-muted {
  color: #b0b0b0;
}

.stickerContent {
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
  height: auto;
  opacity: 1;
}

.stickerContent.hidden {
  height: 0 !important;
  opacity: 0;
}

.products-box {
  padding-top: 48px;
}

.nav-link {
  border-radius: 8px!important;
  color: rgba(255, 255, 255, 1)
}
