header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1030;
}

main article {
  margin-top: 82px;
  &.authenticated {
    margin-top: 142px;
  }
  margin-bottom: 70px;
}

app-toast-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

/* Styles for the chat component */
.chat-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px; /* Sidebar width */
  height: 100%;
  z-index: 1050;
  transition: transform 0.3s ease;
}

/* Styles for mobile view */
@media (max-width: 768px) {
  .chat-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    transform: translateX(100%); /* Initially hide the chat */
  }

  .chat-sidebar.open {
    transform: translateX(0); /* Show the chat on mobile */
  }
}

.ellipse {
  position: absolute;
  border-radius: 50%;
  filter: blur(60px); /* Для эффекта размытости как пятна */
  z-index: -0;
  mix-blend-mode: screen; /* или overlay, multiply - зависит от эффекта */
  background-color: rgba(123, 0, 255, 0.1);
}

.ellipse-1 {
  width: 545px;
  height: 545px;
  top: 5%;
  right: -7%;
}

.ellipse-2 {
  width: 222px;
  height: 222px;
  top: 556px;
  left: 159px;
}

.ellipse-3 {
  width: 495px;
  height: 495px;
  bottom: -1%;
  left: 60%;
}