input {
  background-color: rgba(5, 11, 18, 1);
  border-radius: 6px;
  height: 38px;
  color: rgba(138, 172, 201, 1);
  &:focus {
    box-shadow: none!important;
    border: none!important;
  }
  &:focus-visible {
    outline: none!important;
  }
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
}

input::placeholder {
  color: rgba(138, 172, 201, 1);
}