<div class="row">
  <div class="col-12 px-0 mb-3 sticker">
    <div class="row p-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [class.active]="(activeCategory | async) === 6" (click)="setActiveCategory(6)">PC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="(activeCategory | async) === 38" (click)="setActiveCategory(38)">PSP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="(activeCategory | async) === 9" (click)="setActiveCategory(9)">PS3</a>
        </li>
      </ul>
    </div>
    <form [formGroup]="queryForm" class="card">
      <input id="query" class="w-100 p-3" type="text" placeholder="Поиск" formControlName="query" />
    </form>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 p-3 card btn" [routerLink]="product.id.toString()" *ngFor="let product of products$ | async" >
    <div class="p-3">
      <img width="100%" height="auto" [src]="product.image_url">
    </div>
    <div class="p-3">
      <p class="fw-semibold">{{product.name}}</p>
      <div class="caption fw-light">
        впервые выпущена
        <ng-container *ngIf="product.first_release_date else never">
          {{product.first_release_date | date:'dd.MM.yy':'UTC'}}
        </ng-container>
        <ng-template #never>
          никогда
        </ng-template>
      </div>
    </div>
  </div>
</div>