<div class="row">
  <div class="col-12 px-0 mb-3 sticker">
    <form [formGroup]="queryForm">
      <input id="query" class="w-100 p-3" type="text" placeholder="Поиск" formControlName="query" />
    </form>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 p-3 card btn" [routerLink]="product.id.toString()" *ngFor="let product of products$ | async" >
    <div class="p-3">
      <img width="100%" height="auto" [src]="product.image_url">
    </div>
    <div class="p-3">
      <p class="fw-semibold">{{product.name}}</p>
      <div class="caption fw-light">впервые выпущена {{product.first_release_date | date:'dd.MM.yy':'UTC'}}</div>
    </div>
  </div>
</div>