/* Темный дропдаун */
.collector-header {
  color: rgba(211, 225, 236, 1);
  font-weight: 700;
  font-style: Bold;
  font-size: 34px;
  line-height: 100%;
  z-index: 1;
}

.game-card {
  background-color: rgba(7, 16, 25, 1);
  border-radius: 12px;
}

.card-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 20px;
}

.card-subtitle {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
}